<div class="footer">
  <div class="footer-menu-container">
      <ul class="footer-menu">
        <li><a href="#"><p>About</p></a></li>
        <li><a href="#"><p>Feedback</p></a></li>
        <li><a href="#"><p>Terms</p></a></li>
        <li><a href="#"><p>Sitemap</p></a></li>
      </ul>
      <div class="social-contact">
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
      </div>
  </div>
</div>