<nav class="cbp-hrmenu">
  <div id="dropdown-trigger" class="dropdown-trigger">
    <a class="dropdown-button removehyperlink" href="#">
      <p>Genre and Categories<span id="caret" class="fa fa-caret-down"></span></p>
    </a>  
  </div>
  <div id="cbp-hrsub-hide" class="cbp-hrsub hide">
    <div class="dropdown-submenu"> 
      <div class="genre">
        <div class="row ">
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
        </div>
      </div>
      <div class="categories">
        <div class="para-row">
          <div class="para">
            <h4>Trending</h4>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="para">
            <h4>What's New</h4>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="para">
            <h4>Recomended</h4>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="para-row row2">
          <div class="para">
            <h4>Channel</h4>
              <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="para">
            <h4>Liked</h4>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div><!-- /cbp-hrsub-inner -->
  </div><!-- /cbp-hrsub -->
</nav>