<!--<nav class="cbp-hrmenu">
  <div id="dropdown-trigger" class="dropdown-trigger">
    <a class="dropdown-button removehyperlink" href="#">
      <p>Genre and Categories<span id="caret" class="fa fa-caret-down"></span></p>
    </a>  
  </div>
  <div id="cbp-hrsub-hide" class="cbp-hrsub hide">
    <div class="dropdown-submenu"> 
      <div class="genre">
        <div class="row ">
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
          <div class="column">
            <p>GENRE A</p>
          </div>
        </div>
      </div>
      <div class="categories">
        <div class="para-row">
          <div class="para">
            <a href="#trending"><h4>Trending</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="para">
            <a href="#whatnew"><h4>What's New</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="para">
            <a href="#recommended"><h4>Recommended</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="para-row row2">
          <div class="para">
            <a href="#channel"><h4>Channel</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="para">
            <a href="#likedvideo"><h4>Liked Videos</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div>
</nav>-->
<!--Rework-->
<div class="genre-and-category">
  <div class="category-content">
    <a href="#likedvideo" class="category-item"><p>LIKED VIDEOS</p></a>
    <a href="#recommended" class="category-item"><p>RECOMMENDED</p></a>
    <a href="#whatnew" class="category-item"><p>WHAT'S NEW</p></a>
    <a href="#trending" class="category-item"><p>TRENDING</p></a>
    <a href="#channel" class="category-item"><p>CHANNEL</p></a>
  </div>
  <div class="genre-content">
    <div class="genre-item"><a href="#"><p>NEWS</p></a></div>
    <div class="genre-item"><a href="#"><p>ROMANCE</p></a></div>
    <div class="genre-item"><a href="#"><p>INFOTAINMENT</p></a></div>
    <div class="genre-item"><a href="#"><p>TRAVEL</p></a></div>
    <div class="genre-item"><a href="#"><p>COMEDY</p></a></div>
    <div class="genre-item"><a href="#"><p>VARIETY</p></a></div>
    <div class="genre-item"><a href="#"><p>MUSIC</p></a></div>
    <div class="genre-item"><a href="#"><p>FILM</p></a></div>
  </div>
</div>
<div class="genrecat-mobileview">
  <div class="genrecat-title">
    <span><p>Genre and Categories</p></span>
    <span class="caret-down">
        <img src="../assets/img/caret-down.png">
    </span>
  </div>
  <div class="genrecat-collapse">
    <ul class="genrecat-list">
      <li class="searchbar">
        <div class="searchbar-content">
          <img src="../assets/img/searchicon.png">
          <input type="text" class="search-input">
        </div>
      </li>
      <li class="language-change">
        <p class="li-title">Languages</p>
        <select class="language-selector">
          <option value="chi">CHI</option>
          <option value="eng">ENG</option>
        </select>
      </li>
      <li>
        <p class="li-title"><a href="#trending">Trending</a></p>
      </li>
      <li>
        <p class="li-title"><a href="#whatnew">What's new</a></p>
      </li>
      <li>
        <p class="li-title"><a href="#recommended">Recommended</a></p>
      </li>
      <li>
        <p class="li-title"><a href="#channel">Channel</a></p>
      </li>
      <li>
        <p class="li-title"><a href="#likedvideo">Liked videos</a></p>
      </li>
      <li class="caret-up">
          <img src="../assets/img/caret-up.png">
      </li>
    </ul>
  </div>
</div>