a {
    text-decoration: none;
}
/*Rework*/
/*normal view*/
/*category menu*/
.genre-and-category {
    padding: 50px 100px;
    width: 90%;;
}
.category-content {
    display: flex;
}
.category-content a {
    text-align: center;
}
.category-content p {
    float: left;
    font-size: 18px;
    color:#07bdbb;
    font-weight: bold;
    margin-right: 70px;
}
/*end category menu*/

/*genre menu*/
.genre-content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.genre-content a {
    width: 12%;
}
.genre-content p {
    text-align: center;
    font-size: 18px;
    color:white;
    font-weight: bold;
}
/*end genre menu*/
/*end normal view*/

/*mobile view*/
/*before dropdown*/
.genrecat-mobileview {
    display: none;
}
.genrecat-title {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 40px;
    border-radius: 0 0 20px 0;
    background-color: #07bdbb;
    font-family: 'Open Sans';
    font-size: 12px;
    color: black;
    padding-left: 65px; 
}
.genrecat-title p{
    padding-top: 10px;
}
.genrecat-title img {
    position: absolute;
    top: 8px;
    right: 30px;
} 
/*end before dropdown*/
/*after dropdown*/
.genrecat-collapse {
    display: none;
    width: 100%;
}
.genrecat-list {
    padding-left: 0;
    padding-right: 20px;
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    border-radius: 0 0 20px 0;
    z-index: 10;
}
.genrecat-list li {
    padding: 5px 0;
    cursor: pointer;
    min-height: 25px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.11);
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: left;
    color: rgba(0,0,0,.87);
    padding-left: 25px;
    border-bottom: 1px solid rgba(0,0,0,.11);
    line-height: 40px;
}
.li-title, .li-title a {
    font-size: 20px;
    color: black;
}
.searchbar {
    position: relative;
}
.searchbar-content {
    width: 100%;
    height: 32px;
    border-radius: 100px;
    background-color: #febb2c;
    border: none;
    position: absolute;
    max-width: 350px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;   
    margin: 0 auto;
}
.searchbar-content img {
    position: absolute;
    top: 24%;
    z-index: 2;
    width: 16px;
    left: 10px;
}
.search-input {
    position: absolute;
    width: 100%;
    height: 32px;
    border-radius: 100px;
    background-color: #febb2c;
    border: none;
    padding-left: 30px;
    outline: none;
}
.language-change {
    display: flex;
    position: relative;
}
.language-selector {
    position: absolute;
    right: 10px;
    width: 70px;
    height: 40px;
    outline: none;
    border-radius: 20px;
    margin: 6px;
}
.caret-up {
    position: relative;
}
.caret-up img {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/*end after dropdown*/
/*end mobile view*/

/*media queries */
@media screen and (max-width:992px) {
    .genre-and-category {
        display: none;
    }
    .genrecat-mobileview {
        display: block;
    }
}