.cbp-hrmenu {
    background-color: #212121;
}
.cbp-hrsub {
    clear: both;
    line-height: 1;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 50px;
}
.hide {
    display: none;
    background-color: white;
}
.whitebackground {
    background-color: white;
}
.dropdown-submenu {
    display: flex;
}
.row p {
    font-size: 12px;
    padding-top: 35px;
    padding-left: 20px;
}
.row {
    display: flex;
}
.column {
    width: 90px;
    height: 90px;
    object-fit: contain;
    background-color: #07bdbb;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;   
}
.genre {
    padding-left: 90px;
    padding-bottom: 40px;
}
.categories {
    padding: 16px 0 30px 40px;
}
.categories p {
    float: left;
    font-size: 12px;
}
.para-row {
    display: flex;
}
.row2 {
    padding-top: 20px;
}
.para {
    width: 300px;
    height: 80px;
    padding-left: 90px;
}
.dropdown-trigger {
    width: 100%;
    height: 48px;
    object-fit: contain;
    border-bottom-right-radius: 50px;
    background-color: #07bdbb;
}
.dropdown-trigger-hide {
    width: 100%;
    height: 48px;
    object-fit: contain;
}
.dropdown-trigger p {
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding: 10px 0 10px 100px; 
}
.dropdown-trigger-hide p {
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding: 10px 0 10px 100px; 
}
.fa {
    padding-left: 20px;
}
.removehyperlink {
    text-decoration: none !important;
}
a p:hover {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
a p:focus, a p:active {
    color: white;
} 