#popUpSignin {
    z-index: 10000000000;
}

.modal-content {
    top: 140px;
    box-shadow: 0px 1px 2px 1px #888888;
    position: relative; left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 350px;
}
.close {
    padding-right: 60px;
    outline: none;
}
.login-logo {
    margin-left: 60px;
}
.signin-title p {
    position: absolute;
    font-family: OpenSans;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    right: 185px;
    top: -41px;
}
.signinwith {
    display: flex;
}
.signinwith p {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff;
    margin: 15px 0 12px 5px;
}

.social {
    font-size: 30px;
    margin: 12px 12px 12px 40px;   
}

.signinwith__facebook {
    width: 300px;
    height: 60px;
    background-color: #3970b0;
    color: white;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    border: none;
    right: 60px;
    top: 60px;
    cursor: pointer;
}
.signinwith__facebook:hover {
    background-color: #1154a0;
}
.signinwith__facebook:active {
    background-color: #104179;
}
.signinwith__google {
    position: absolute;
    width: 300px;
    height: 60px;
    background-color: #ff0d0d; 
    color: white;
    display: flex;
    border: none;
    right: 60px;
    top: 160px;
    cursor: pointer;
}
.signinwith__google:hover {
    background-color: #c01010;
}
.signinwith__facebook:hover, .signinwith__google:focus {
    outline: none;
}
.signinwith__google:active {
    background-color: #921616;
}
/*@media query */
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
}
/* Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
    .modal-content {
        width: 700px;
    }
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
    .modal-content {
        width: 550px;
    }
    .signinwith__facebook, .signinwith__google {
        right: 30px;
    }
    .login-logo {
        margin-left: 0;
    }
    .close {
        padding-right: 30px;
    }
    .signin-title p {
        right: 155px;
    }
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .modal-content {
        width: 340px;
        transform: none;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .login-logo {
        display: none;
    }
    .signinwith__facebook, .signinwith__google {
        left: 20px;
    }
    .close {
        padding-right: 20px;
    }
    .signin-title p {
        right: auto;
    }
}
