<div class="modal fade" id="popUpSignin">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="login-logo">
            <img src="../assets/img/loginlogo.png">
          </div>
          <div class="signin-title"><p>LOGIN/SIGNUP</p></div>
          <div class="signinwith">
            <button type="button" class="signinwith__facebook">
              <span class="social fa fa-facebook-f"></span>
              <span><p>Sign in with Facebook</p></span>
            </button>
            <button type="button" class="signinwith__google">
              <span class="social fa fa-google-plus"></span>
              <span><p>Sign in with Google+</p></span>
            </button>             
          </div>
        </div>
      </div>
    </div>
  </div>