a {
    text-decoration: none;
}
.category-tittle {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 30px;
}
.movie-list {
    display: table;
    width: 90%;
    margin: 0 auto;
}
.category-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.4px;
    text-align: left;
    color: #07bdbb;
    padding-top: 50px;
}
.hashtagcontainer {
    display: flex;
}
.hashtag p {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    padding-top: 59px;
    padding-left: 5px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .category-tittle {
        display: initial;
    }
    .category-name {
        padding-left: 0;
        text-align: center;
    }
    .hashtagcontainer{
        padding-bottom: 30px;       
    }
    .hashtag {
        margin-left: auto;
        margin-right: auto;
    }
    .hashtag p {
        text-align: center;
        padding-top: 0;
    }
    .hashtag:nth-child(1){
        margin-right: 0;
    }
    .hashtag:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }
    .hashtag:last-child{
        margin-left: 0;
    }
}

