<div class="categories">
  <div>
    <div id="trending" class="category-tittle">
      <p class="category-name">TRENDING</p>
      <div class="hashtagcontainer">
          <div class="hashtag"><p>#Comedy</p></div><div class="hashtag"><p>#Drama</p></div><div class="hashtag"><p>#Horror</p></div>
      </div>
    </div>
    <app-trending [inputfilm]="inputfilm"></app-trending>
  </div>
</div>
<div class="categories">
  <div>
    <div id="recommended" class="category-tittle">
      <p class="category-name">RECOMMENDED</p>
      <div class="hashtagcontainer">
          <div class="hashtag"><p>#Comedy</p></div><div class="hashtag"><p>#Teen</p></div><div class="hashtag"><p>#Romance</p></div>
      </div>
    </div>
    <app-film [inputfilm]="inputfilm"></app-film>
  </div>
</div>
