<div class="category-tittle">
    <p class="category-name">CHANNEL</p><span class="hashtag"><p>#Comedy</p></span><span class="hashtag"><p>#Teens</p></span><span class="hashtag"><p>#Romance</p></span>
  </div>
  <div class="movie-list">
    <a href="#">
        <div class="movie-list-item">
            <div class="movie-thumbnail">
                <img src="../assets/img/endlessroom.png">
                <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Endless Room</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div class="movie-thumbnail">
                <img src="../assets/img/freshmen.png">
                <p class="viewcount">120,003k views</p> 
            </div>
            <p id="movie-name">Freshmen</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div class="movie-thumbnail">
                <img src="../assets/img/awaywego.png">
                <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Away We Go!</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div class="movie-thumbnail">
                <img src="../assets/img/weddingdiary.png">
                <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Wedding Diary</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div class="movie-thumbnail">
              <img src="../assets/img/endlessroom.png">
              <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Beach Boys</p>
        </div>
    </a>
    <div class="movie-detail">
        <img src="../assets/img/heart.png">
        <span><h4>SYPNOSIS</h4></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
    </div>
  </div>