<div id="moviecarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d block w-100" src="../assets/img/carousel.png" alt="first slide">  
    </div>
    <div class="carousel-item">
      <img class="d block w-100" src="../assets/img/carousel.png" alt="first slide"> 
    </div>
    <div class="carousel-item">
          <img class="d block w-100" src="../assets/img/carousel.png" alt="first slide">  
    </div>
    <a class="carousel-control-prev" href="#moviecarousel" role="button" data-slide="prev">
      <span><img src="../assets/img/previous.png"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#moviecarousel" role="button" data-slide="next">
      <span><img src="../assets/img/next.png"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>