
.slider a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    display: table-row;
  }
  .slider a:focus, .slider a:active{
    outline: none;
  }
  .slider a:first-child {
    margin-left: 10px;
  }
  .slider a:last-child {
    margin-right: 0;
  }
  .slider {
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
  }
  .slider img {
    font-size: 36px;
    line-height: 100px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .slick-next, .slick-prev {
      width: 50px !important;
      height: 50px !important;
      background: black !important;
  }
  /*Slick slider item styling*/
  .slickslider-item {
      position: relative;
  }
  .movie-box {
      position: relative;
  }
  .viewcount {
    float: left !;
    background: black;
    opacity: 0.6;
    height: 10%;
    position: absolute;
    width: 100%;
    opacity: 0.6;
    color: white;
    bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
    
}
.viewcount p {
    margin-top: 5px;
    font-size: 14px;
    padding-left: 20px;
}
.movie-title p{
    font-weight: bold;
    transition: color 0.5s;
    margin-top: 20px;
    font-size: 20px;
}
.movie-title p:hover, .movie-title p:focus {
    color:#07bdbb;
}
 /*movie detail that shows up when hover on the movie box*/
  .movie-detail {
    position: absolute;
    top: 0;
    background: black;
    color: white;
    opacity: 0;
    transition: .5s ease;
    height: 100%;
    width: 100%;
}
 .sypnosis {
    display: flex;
    padding: 10px 0 0 10px;
}
.movie-detail img {
    width: 12%;
    height: 12%;
    margin: 0;
    margin-right: 10px; 
}
 .movie-detail p {
    font-size: 12px;
    text-align: left; 
    margin: 8px;   
}
 .slider a:hover .movie-box img {
    opacity: 0.4;
}
 .slider a:hover .movie-detail {
    opacity: 0.8;
}
  /*End movie detail that shows up when hover on the movie box*/
  /*End slick slider item styling*/
  
  /*end slick slider*/

