<div id="trending" class="category-tittle">
    <p class="category-name">TRENDING</p>
    <div class="hashtagcontainer">
        <div class="hashtag"><p>#Comedy</p></div><div class="hashtag"><p>#Drama</p></div><div class="hashtag"><p>#Horror</p></div>
    </div>
</div>
<div class="slider trending-slick" role="toolbar">
  <a class="trending-movie" href="#">
      <div class="slickslider-item">
        <div class="videobox">
            <img src="../assets/img/freshmen.png">
        </div>
        <div class="movie-info">
          <h5>来吧上课啦！EP-01</h5>
          <div class="movie-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
          </div>
        </div>
      </div>
  </a>
  <a class="trending-movie" href="#">
      <div class="slickslider-item">
        <div class="videobox">
            <img src="../assets/img/freshmen.png">
        </div>
        <div class="movie-info">
          <h5>来吧上课啦！EP-01</h5>
          <div class="movie-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
          </div>
        </div>
      </div>
  </a>
  <a class="trending-movie" href="#">
      <div class="slickslider-item">
        <div class="videobox">
            <img src="../assets/img/freshmen.png">
        </div>
        <div class="movie-info">
          <h5>来吧上课啦！EP-01</h5>
          <div class="movie-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
          </div>
        </div>
      </div>
  </a>
  <a class="trending-movie" href="#">
      <div class="slickslider-item">
        <div class="videobox">
            <img src="../assets/img/freshmen.png">
        </div>
        <div class="movie-info">
          <h5>来吧上课啦！EP-01</h5>
          <div class="movie-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
          </div>
        </div>
      </div>
  </a>
  <a class="trending-movie" href="#">
      <div class="slickslider-item">
        <div class="videobox">
            <img src="../assets/img/freshmen.png">
        </div>
        <div class="movie-info">
          <h5>来吧上课啦！EP-01</h5>
          <div class="movie-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
          </div>
        </div>
      </div>
  </a>
</div>
