<div class="category-tittle">
  <p class="trending">TRENDING</p><span class="hashtag"><p>#Comedy</p></span><span class="hashtag"><p>Drama</p></span><span class="hashtag"><p>#Horror</p></span>
</div>
<div class="catrow boxCarousel">
    <i id="left" class="fa fa-chevron-left"></i>
    <i id="right" class="fa fa-chevron-right"></i>
    <div class="carousel">
      <ul>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="imgCont">
            <div class="thumbnailcontainer"></div>
            <div class="movie-description">
                <h4>来吧上课啦！EP-01</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum feugiat scelerisque. Phasellus a rutrum tortor. Donec faucibus ultrices magna, at blandit lorem vehicula consequat. </p>
            </div>
          </div>
        </li>
  
      </ul>
    </div>
  </div>