<div id="recommended" class="category-tittle">
    <p class="category-name">RECOMMENDED</p>
    <div class="hashtagcontainer">
        <div class="hashtag"><p>#Comedy</p></div><div class="hashtag"><p>#Teen</p></div><div class="hashtag"><p>#Romance</p></div>
    </div>
</div>
<div class="slider category-slick" role="toolbar">
  <!--item-->
  <a href="#">
      <div class="slickslider-item">
        <div class="movie-box">
            <img src="../assets/img/endlessroom.png">
            <p class="viewcount">120,003k views</p>
        </div>
        <div class="movie-detail">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
      </div>
      <div class="movie-title"><p>ENDLESS ROOM</p></div>
  </a>
  <!--item-->
 <a class="movie-list" href="#">
      <div class="slickslider-item">
        <div class="movie-box">
            <img src="../assets/img/freshmen.png">
            <p class="viewcount">120,003k views</p>
        </div>
        <div class="movie-detail">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
      </div>
      <div class="movie-title"><p>FRESHMEN</p></div>
  </a>
  <a class="movie-list" href="#">
      <div class="slickslider-item">
        <div class="movie-box">
            <img src="../assets/img/awaywego.png">
            <p class="viewcount">120,003k views</p>
        </div>
        <div class="movie-detail">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
      </div>
      <div class="movie-title"><p>AWAY WE GO!</p></div>
  </a>
  <a class="movie-list" href="#">
      <div class="slickslider-item">
        <div class="movie-box">
            <img src="../assets/img/weddingdiary.png">
            <p class="viewcount">120,003k views</p>
        </div>
        <div class="movie-detail">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
      </div>
      <div class="movie-title"><p>WEDDING DIARY</p></div>
  </a>
  <a class="movie-list" href="#">
      <div class="slickslider-item">
        <div class="movie-box">
            <img src="../assets/img/freshmen.png">
            <p class="viewcount">120,003k views</p>
        </div>
        <div class="movie-detail">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
      </div>
      <div class="movie-title"><p>FRESHMEN</p></div>
  </a>
  <a class="movie-list" href="#">
      <div class="slickslider-item">
        <div class="movie-box">
            <img src="../assets/img/freshmen.png">
            <p class="viewcount">120,003k views</p>
        </div>
        <div class="movie-detail">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
      </div>
      <div class="movie-title"><p>FRESHMEN</p></div>
  </a>
</div>
