<div id="recommended" class="category-tittle">
    <p class="category-name">RECOMMENDED</p><span class="hashtag"><p>#Comedy</p></span><span class="hashtag"><p>#Teens</p></span><span class="hashtag"><p>#Romance</p></span>
  </div>
  <div class="movie-list">
    <a href="#">
        <div class="movie-list-item">
            <div id="thumbnail-box" class="movie-thumbnail">
                <img src="../assets/img/endlessroom.png">
                <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Endless Room</p>
        </div>
        <div class="movie-detail hide">
            <div class="sypnosis">
              <img src="../assets/img/heart.png">
              <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div id="thumbnail-box" class="movie-thumbnail">
                <img src="../assets/img/freshmen.png">
                <p class="viewcount">120,003k views</p> 
            </div>
            <p id="movie-name">Freshmen</p>
        </div>
        <div class="movie-detail hide">
           <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
           </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div id="thumbnail-box" class="movie-thumbnail">
                <img src="../assets/img/awaywego.png">
                <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Away We Go!</p>
        </div>
        <div class="movie-detail hide">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div id="thumbnail-box" class="movie-thumbnail">
                <img src="../assets/img/weddingdiary.png">
                <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Wedding Diary</p>
        </div>
        <div class="movie-detail hide">
            <div class="sypnosis">
                <img src="../assets/img/heart.png">
                <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
    </a>
    <a href="#">
        <div class="movie-list-item">
            <div id="thumbnail-box" class="movie-thumbnail">
              <img src="../assets/img/endlessroom.png">
              <p class="viewcount">120,003k views</p>
            </div>
            <p id="movie-name">Beach Boys</p>
        </div>
        <div class="movie-detail hide">
            <div class="sypnosis">
              <img src="../assets/img/heart.png">
              <span><h5>SYPNOSIS</h5></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis massa a risus varius dictum. Suspendisse consequat ullamcorper arcu, in dapibus tellus dapibus vel. In vitae porttitor ante, cursus.</p>
        </div>
    </a>
    
  </div>