/* You can add global styles to this file, and also import other style files */
@import './style/bootstrap-4.1.2-dist/css/bootstrap.min.css';
@import './style/font-awesome-4.7.0/css/font-awesome.min.css';
body {
    background-color: #212121;
    overflow-x: hidden;
    font-family: 'Open Sans';
}
.container-fluid {
    padding: 0;
}
/*app-trending: custommize slick arrows */
app-trending .slick-prev, app-trending .slick-next, app-film .slick-prev, app-film .slick-next {
    width: 70px;
    height: 70px;
    top: 35%;
    outline: none;
}
app-trending .slick-prev, app-film .slick-prev {
    left: 9px;
}
app-trending .slick-next, app-film .slick-next {
    right: 26px;
}
/*End app-trending: custommize slick arrows */